body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
 {
  box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

/* xxxxxxxxxx HEADER xxxxxxxxxx */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  background-color: #fff;
  
}
.page-header {
  border-bottom: 1px solid #e7e9fc
}

.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header .logo-part {
  color: #2e2f42;
}
.logo-header {
  margin-right: 76px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* xxxxxxxxxx MAIN xxxxxxxxxx */
/* xxxxxxxxxx SOLUTIONS xxxxxxxxx */
.solutions {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

}
.btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
}
button {
  cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}
/* xxxxxxxxx BENEFITS xxxxxxxxxx */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits .container {
  display: flex;
}
.benefits-item {
  width: calc((100% - 72px)/4);
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
/* xxxxxxxxxx TEAM xxxxxxxxxx */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-des-box {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-dis {
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* xxxxxxxxxx OUR PORTFOLIO xxxxxxxxx */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
}
.portfolio-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px )/3);
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-des-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}
/* xxxxxxxxxx FOOTER xxxxxxxxxx */
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.page-footer .logo-part {
  color: #f4f4fd;
  gap: 5px;
}

.page-footer .logo{
  margin-bottom: 16px;
  display: inline-block;
}